<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      box-sizing: border-box;
    }

    h2 {
      color: #333333;
      margin-bottom: 20px;
    }

    .btn-custom, .btn-secondary {
      background-color: #595959;
      color: white;
      padding: 10px 24px;
      border: none;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      width: calc(100% - 48px);
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: 20px;
      display: block;
      text-decoration: none;
    }

    .btn-secondary {
      background-color: #007BFF;
      margin-top: 20px;
    }

    .btn-custom:hover, .btn-secondary:hover {
      background-color: #737373;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="container">
    <% if user_signed_in? %>
      <h1>Olá, <%= current_user.name %>.</h1>
      <%= link_to 'Enviar XML ou ZIP', new_eletronic_invoice_path, class: 'btn-custom' %>
      <%= link_to 'Visualizar Notas Fiscais', eletronic_invoice_path, class: 'btn-custom' %>
      <%= link_to 'Sair', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn-custom' %>
    <% else %>
      <h2>Gerador de Relatórios XML</h2>
      <%= link_to 'Login', new_user_session_path, class: 'btn-custom' %>
      <%= link_to 'Registre-se', new_user_registration_path, class: "btn-custom" %>
    <% end %>    
  </div>
</body>
</html>
